<div>
  <h2 id="page-heading" data-cy="DictionaryHeading">
    <span jhiTranslate="lucNotificationsApp.lucNotificationsDictionary.home.title">Dictionaries</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="lucNotificationsApp.lucNotificationsDictionary.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-dictionary"
        [routerLink]="['/lucnotifications/dictionary/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="lucNotificationsApp.lucNotificationsDictionary.home.createLabel"
          >Create a new Dictionary</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="lucNotificationsApp.lucNotificationsDictionary.home.search"
          >Search for Dictionary</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'lucNotificationsApp.lucNotificationsDictionary.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (dictionaries().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="lucNotificationsApp.lucNotificationsDictionary.home.notFound">No Dictionaries found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="lucNotificationsApp.lucNotificationsDictionary.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="keyName">
              <div class="d-flex">
                <span jhiTranslate="lucNotificationsApp.lucNotificationsDictionary.keyName">Key Name</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="keyCode">
              <div class="d-flex">
                <span jhiTranslate="lucNotificationsApp.lucNotificationsDictionary.keyCode">Key Code</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="label">
              <div class="d-flex">
                <span jhiTranslate="lucNotificationsApp.lucNotificationsDictionary.label">Label</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="lucNotificationsApp.lucNotificationsDictionary.description">Description</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (dictionary of dictionaries(); track trackId(dictionary)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/lucnotifications/dictionary', dictionary.id, 'view']">{{ dictionary.id }}</a>
              </td>
              <td>{{ dictionary.keyName }}</td>
              <td>{{ dictionary.keyCode }}</td>
              <td>{{ dictionary.label }}</td>
              <td>{{ dictionary.description }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/lucnotifications/dictionary', dictionary.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/lucnotifications/dictionary', dictionary.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(dictionary)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
